/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary font-sans;
}

.tech-carousel .swiper-pagination-bullet {
  background-color: rgb(227, 175, 139);
  opacity: 0.5;
}

.tech-carousel .swiper-pagination-bullet-active {
  opacity: 1;
}

.Typewriter__cursor {
  @apply text-primary;
}