/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black font-sans;
}

.tech-carousel .swiper-pagination-bullet {
  background-color: #00ff00;
  opacity: 0.5;
}

.tech-carousel .swiper-pagination-bullet-active {
  opacity: 1;
}

.Typewriter__cursor {
  @apply text-green-500;
}